/* Tailwind Reset & Normalize /
@tailwind base;
@tailwind components;
@tailwind utilities;

/ Root vars */
:root {
  --dark-primary: #6bb05d;
  --light-primary: #4d7f43;
}
.inn-container {
  width: 100%;
  max-width: 80rem;
  margin-inline: auto;
}
body,
html {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

section.Header-Container {
  background: var(--dark-primary);
  font-family: 'Poppins', sans-serif;
  z-index: 11;
  position: relative;
}

header {
  display: flex;
}
.contactUs {
  display: flex;
  gap: 1.8rem;
}
a.phn {
  margin-left: 0.2rem;
  font-size: 1rem;
  font-weight: 400;
}
.phoneNumber {
  color: #fff;
}
.email {
  color: #fff;
}
a.email {
  margin-left: 0.4rem;
  font-size: 1rem;
  font-weight: 400;
}
.ToolBar {
  display: flex;
  gap: 1.5rem;
  color: #fff;
}

.header-icons {
  font-size: 1.15rem;
}
.weatherDetails {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.weatherDetails .fa-arrows-rotate {
  transform: rotate(0deg);
  transition: all 600ms ease;
}
.weatherDetails .fa-arrows-rotate:hover {
  background: #3f9b2f;
  border-radius: 2rem;
  color: #40563a;
}
.refresh {
  transform: rotate(180deg);
}

.dayNight {
  position: relative;
}
.dayNight span {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
}
.show {
  transition: opacity 0.3s, transform 0.3s;
}

.hide {
  transition: opacity 0.3s, transform 0.3s;
  transform: scale(0.5);
  margin-top: -100rem;
  opacity: 0;
}
/* Dark mode styles goes here */
.dark-mode section.Header-Container {
  background: var(--light-primary);
  font-family: 'Poppins', sans-serif;
}
/* Video Css goes here  */
.banner {
  width: 100%;
  min-height: 92vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block-start: -95px;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;

  background: linear-gradient(
    to right bottom,
    rgba(126, 213, 111, 0.35),
    rgba(40, 180, 133, 0.75)
  );
}

.banner video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.content-text {
  position: relative;
  text-align: center;
  max-width: 48rem;
  z-index: 1;
}

.content-text h1 {
  font-size: 2rem;
  font-weight: bolder;
  color: #000;
}
.content-text h3 {
  color: #fff;
  font-size: 1.7rem;
  animation: moveinleft 2.8s 1;
  position: relative;
}
@keyframes moveinleft {
  0% {
    opacity: 0;
    transform: translateX(-40rem);
  }
  80% {
    transform: translateX(0.5rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
/* @keyframes moveinleft {
  0% {
    right: 35rem;
  }
  25% {
    right: 25rem;
  }
  75% {
    right: 10rem;
  }
  100% {
    right: 5rem;
  }
} */
.content-text blockquote {
  font-size: 1.2rem;
  color: #43da43;
  font-weight: 400;
  animation: moveInRight 2.8s 1;
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(20rem);
  }
  80% {
    transform: translateX(-0.5rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* navbar goes here  */
nav {
  position: sticky;
  z-index: 10;
  width: 100%;
  background: linear-gradient(to bottom left, rgb(17 26 26), transparent);
  transition: all 200ms;
}
.navbar-left {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-inline: 6rem;
  height: 3.6rem;
  transition: all 450ms ease;
}
.logo {
  -webkit-text-stroke: 0.5px #fff;
  display: inline-block;
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 3px;
  text-transform: uppercase;
  transition: color 170ms ease-in;
  cursor: pointer;
  color: transparent;
  z-index: 10;
}

.logo:hover {
  color: #fff;
}
ul.main-menu {
  display: flex;
  gap: 4rem;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.navbar-right {
  position: relative;
  height: 100%;
}
.main-item {
  height: 100%;
  color: #ffffff94;
  display: flex;
  align-items: center;
}
.menu-item:hover {
  color: #fff;
}
.drop-downMenu {
  position: absolute;
  top: 100%;
  z-index: 1;
  background: #3d3e3b8a;
  padding: 0.4rem 0.7rem;
  width: 10rem;
  text-align: left;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
  transform: scaleY(0);
  transform-origin: top;
  border-top: green 5px solid;
}

ul.drop-downMenu li {
  border-bottom: #000 1px solid;
  padding: 0.4rem 0;
}

.service {
  position: absolute;
  display: block;
  top: 100%;
}
.main-item:hover > .drop-downMenu {
  visibility: visible;
  opacity: 1;
  transform: scaleY(1);
}
/* Card css goes here */
.cardsOfNature {
  width: 100%;
  padding-block-start: 2rem;
  margin: 0 auto;
  max-width: 87%;
}
.main-card {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
}
.Eco-cards {
  width: 100%;
  border-radius: 0.5rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.25);
  transition: all 450ms ease;
  transform: translateY(0px);
}
.Eco-cards:hover {
  box-shadow: 0 1.5rem 4rem rgba(0 0 0 /0.85);
  cursor: pointer;
  transform: translateY(-12px);
}
.card-icon {
  font-size: 2.5rem;
  padding-inline: 2rem;
}
.card-header {
  text-align: center;
  padding-block: 2.9rem;
}
.card-header h1 {
  font-size: 1.3rem;
  color: #fff;
  letter-spacing: 3px;
  margin-block: 1rem;
}
.card-image {
  height: 20rem;
}
.card-image img {
  object-fit: cover;
  height: 100%;
}
.Eco-cards.Rec {
  background: linear-gradient(to right bottom, #7ed56f, #28b485);
}
.Eco-cards.Eco {
  background: linear-gradient(to right bottom, #2998ff, #5643fa);
}
.Eco-cards.Org {
  background: linear-gradient(to right bottom, #ffb900, #ff7730);
}
.Eco-cards.Bio {
  background: linear-gradient(to right bottom, #00f1ff, #6496ffd9);
}
.countdownShow {
  padding-block: 3rem;
  width: 100%;
  /* background: #00a97e; */
  background: #00a97e24;
  margin-block: 2.7rem;
  background: url(Assets/images/countdown-img.jpg);
  background-position: 50% 90%;
  background-attachment: fixed;
}
.innerContainercountdown {
  margin-inline: auto;
  text-align: center;
  max-width: 80rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block-start: 3rem;
}
h1.countdown-title {
  font-size: 2rem;
  color: #2b333f;
  font-weight: 200;
  text-align: center;
}
span.img-count {
  font-size: 3.2rem;
  color: #4c556257;
  font-weight: 300;
}
.counterdiv {
  display: flex;
}
.counter-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 1.5rem;
  justify-content: center;
}
span.countdown-number.countnumber1 {
  font-size: 1.9rem;
  color: #11a3be;
}
span.countdown-number.countnumber2 {
  font-size: 1.9rem;
  color: #bfd9d3;
}
span.countdown-number.countnumber3 {
  font-size: 1.9rem;
  color: #0baf87;
}
span.countdown-number.countnumber4 {
  font-size: 1.9rem;
  color: #b7f275;
}
span.countdown-text {
  color: #4c5562b8;
}
span.dollar {
  color: #4c556280;
  font-size: 2rem;
}
.infoOfnaturecounter {
  margin-inline: auto;
  width: 100%;
  margin-top: 2.9rem;
  text-align: center;
  max-width: 60%;
  color: #4c5562b8;
  font-size: 1.25rem;
  line-height: 2.3rem;
}
.advAndStaticsticsSection {
  width: 100%;
}

section.AdvanageSection {
  width: 50%;
  position: relative;
}
section.statistics {
  width: 50%;
  position: relative;
}
.innerPageAdvStact.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tab_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tab_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.AdvanageSection h1,
section.statistics h1 {
  font-size: 1.3rem;
  color: #4c5562b8;
  font-weight: 300;
  letter-spacing: 0.3rem;
  padding-block-end: 1.3rem;
}
.tab_link {
  transition: background 350ms ease;
}

.tab_link_container:nth-child(1):hover,
.tab_link:nth-child(1).active-tab {
  background: #57cbe1;
  color: #fff;
  font-weight: 300;
}

.tab_link_container:nth-child(2):hover,
.tab_link:nth-child(2).active-tab {
  background: #62e0c1;
  color: #fff;
  font-weight: 300;
}

.tab_link_container:nth-child(3):hover,
.tab_link:nth-child(3).active-tab {
  background: #7fe092;
  color: #fff;
  font-weight: 300;
}
.tab_link {
  border-top: #000 1px solid;
  font-size: 1.2rem;
  color: #4c5562;
  font-weight: 300;
  border-right: #000 1px solid;
  border-left: #000 1px solid;
}
p.content-tabs {
  color: rgba(151, 156, 164, 1);
  padding-block: 1.7rem;
  font-size: 0.89rem;
  text-align: justify;
  line-height: 1.7rem;
}
section.AdvanageSection div:nth-of-type(0) {
  border: #000 1px solid;
}
.mode {
  border: #000 1px solid;
  padding-inline: 1rem;
  position: absolute;
  left: 0;
  height: 63%;
  display: flex;
  align-items: center;

  transition: transform 500ms ease;
}
.tab_link a.href {
  display: inline-block;
  padding: 0.8rem 1.8rem;
}
.hide-tab {
  opacity: 0;
  transform: translateY(2rem);
  transform-origin: bottom;
}
.innerPageAdvStact {
  display: flex;
  /* align-items: flex-end; */
  gap: 3rem;
  justify-content: inherit;
}
.innerStatistics {
  display: flex;
  align-items: center;
}
.progressBarTabs {
  width: 100%;
}
.progress {
  border: #000 1px solid;
  margin-block-end: 1.1rem;
  padding-block: 0.4rem;
  padding-inline: 1rem;
  border-radius: 0.3rem;
  display: flex;
  justify-content: space-between;
}

.progress:nth-child(1) {
  background: #57cbe1;
}
.progress:nth-child(2) {
  background: #62e0c1;
}
.progress:nth-child(3) {
  background: #7fe092;
}
.progress:nth-child(4) {
  background: #b7f275;
}
.progress:nth-child(5) {
  background: #c9ef5f;
}
i.fa.fa-caret-down {
  margin-inline-start: 0.3rem;
}
.tab_link a.href:hover {
}
.mode.active-tab {
  color: #2b333f;
}
section.Footer-Container {
  width: 100%;
  background: url('Assets/images/bg_parallax_2.jpg');
  background-attachment: fixed;
  position: relative;
}
.bottomFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 5rem;
}
.copyright {
  padding-block: 1.8rem;
}
.copyright p {
  font-size: 1rem;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}
.copyright p:hover {
  color: #29a514;
}
.fontAwesomeImge span {
  color: #fff;
  cursor: pointer;
}
.fontAwesomeImge span:hover {
  color: #29a514;
}
.foot:nth-child(1) {
  width: 35%;
}

.TopBottomIcon {
  display: inline-block;
  background-color: #1ea881;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 23px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  z-index: 1000;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  color: #fff;
  font-size: 1.4rem;
}
.topFooter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1.9rem 1.7rem;
  box-shadow: 4px 2px 17px 7px #2f6b4e4d;
  gap: 1rem;
}
section.videosection {
  width: 100%;
  max-width: 364px;
}

section.Footer-Container .navbar-left {
  align-items: flex-start;
  display: flex;
  justify-content: flex-start;
}
.Footertext {
  width: 100%;
  color: #fff;
  text-align: justify;
  padding-right: 1.6rem;
}

ul.footer-unorderedList {
  color: #fff;
  display: grid;
  gap: 0.5rem;
}
li.article {
  width: 75%;
  text-align: justify;
  margin: 0.5rem;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
}
section.FooterNav {
  width: 25%;
}
section.footerNews {
  width: 45%;
}
li.Footer-list a:hover {
  color: #7cca1eb3;
  font-style: italic;
}
